body {
    margin: 0;
    background: var(--background);
    color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

:root {
    --background: #1F2937;
    --white: #fff;
    --green: #10B981;
    --gray: #273549
}

div {
    margin: 20px
}

span {
    color: var(--green)
}

hr {
    border: 1px solid var(--gray);
    margin: 10px;
    max-width: 520px
}

#generate-password-el {
    background: var(--green);
    color: var(--white);
}

button {
    background: var(--gray);
    color: var(--green);
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 200px;
    min-height: 36px
}
